<div class="row">
 
        
  <div id="intro" class="col-lg-6">
    <h1>Wellcone to UOBbook</h1>
    <h2>Connect with friends</h2>
    <p>See photos and updates</p>
    <p>Share what's new</p>

  
  </div>
</div>